<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access so you can choose images</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We using Face ID to log in to your account</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>OpenRunde-Regular.ttf</string>
		<string>OpenRunde-Medium.ttf</string>
		<string>OpenRunde-Semibold.ttf</string>
		<string>OpenRunde-Bold.ttf</string>
	</array>
</dict>
</plist>
